<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<body>
    <h2 style="position:absolute;left:38%">Strange Korean Translator</h2>
    <div>
    <form action="/" method="POST">
        <textarea class="form-control" rows=18 id="comment" name="text" style="position:absolute;top:10%;left:10%;width: 1000px;height: 500px;"placeholder="Please enter a strange Korean"></textarea>
         <input type="submit" style="position:absolute;left:45%;top:90%;width: 100px;"value="submit">
    </form>
    </div>
</body>
</html>